// ============================================================
// ~/.config/niri/config.kdl
// Main entry point - includes modular configuration files
// Edit files inside main/ instead.
// ============================================================

// --- Hardware ---
include "main/monitor.kdl"
include "main/input.kdl"

// --- Startup ---
include "main/autostart.kdl"

// --- Environment ---
include "main/environment.kdl"

// --- Appearance ---
include "main/appearance.kdl"
include "main/niri-colors.kdl"
include "main/blur.kdl"

// --- Window behavior ---
include "main/rules.kdl"

// --- Controls ---
include "main/binds.kdl"

debug {
    render-drm-device "/dev/dri/renderD128"
    // ignore-drm-device "/dev/dri/renderD128"
}


